<h1>let's add some airplanes</h1>
<form method="POST" action="/api/airplanes">
    <label for="manufacturer">Manufacturer</label>
    <input type="text" name="manufacturer">
    <label for="model">Model</label>
    <input type="text" name="model">
    <label for="engines">Engines</label>
    <input type="number" name="engines">
    <label for="imgSrc">Image URL</label>
    <input type="text" name="imgSrc">
    <input type="submit">
</form>
<h1>search</h1>
<form ng-submit="searchPlanes()">
    <input type="text" ng-model="searchForPlane">
    <input type="submit" value="Search" class="btn btn-primary">
</form>
<button type="button" class="btn btn-primary" ng-click='listAll()'>list all</button>
<div ng-repeat="airplane in airplanes">
    <p>
        <a href="/airplanes/{{airplane._id}}">

            {{airplane.model}}</a>
    </p>
</div>
